{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
{% endblock %}


<header>
      <!-- Navbar start -->
      <nav class="navbar navbar-expand-lg">
        <a href={{ path('home') }} class="navbar-brand text-light"> Collabils </a>
        <!-- Hamburger Start -->

        <div
          type="button"
          class="m-2"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <div class="menu-btn">
            <div class="menu-btn__burger"></div>
          </div>
        </div>

        <!-- <div class="m-2" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            </div> -->

        <!-- Hamburger End -->

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav mx-auto">
            <a href={{ path('video_home') }} class="nav-item nav-link text-light">Vidéos</a>
            <a href={{ path('request_list')}} class="nav-item nav-link text-light">Requêtes</a>
            <a href="#" class="nav-item nav-link text-light">Favoris</a>
            <a href="#" class="nav-item nav-link text-light">Forum</a>
          </div>
          <a
            href={{ path('app_login') }}
            class="btn btn-outline-light rounded-pill px-3 d-none d-lg-block m-2"
            >Connexion<i class="fa fa-sign-in ms-3" aria-hidden="true"></i
          ></a>
        </div>
      </nav>
      <!-- Navbar End -->
    </header>