{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/request-list.css') }}"/>
{% endblock %}

{% block title %}Voici la liste des requêtes ouvertes{% endblock %}

{% block body %}
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>

	<h1 class="text-center">Liste des bonnes requêtes ouvertes</h1>

	<section class="row display-lg">
		<div class="col-lg-10 mb-5 m-auto">
			<div class="table-back display-lg">
				<table class="table table-hover">
					<thead class="table-thead">
						<tr>
							<th scope="col" class="text-white">Titre</th>
							<th scope="col" class="text-white">Catégorie</th>
							<th scope="col" class="text-white">Date</th>
							<th scope="col" class="text-white">Demandé par :</th>
						</tr>
					</thead>
					<tbody>
						{% for requestedSign in requestedSigns %}
							<tr>
								<td>{{ requestedSign.title }}</td>
								<td>{{ requestedSign.category }}</td>
                                <td>{{ requestedSign.createdAt ? requestedSign.createdAt|date('d-m-Y') : '' }}</td>
								<td>{{ requestedSign.author }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
{% endblock %}